Repository namhyung/uftrace, pull requests merged in 2019-11, with the labels that each got.

#999 tui: support a way to change sort key in TUI report mode
  cmds/tui.c
  doc/ko/uftrace-tui.md
  doc/uftrace-tui.md
Labels: contributon2019, tui

#986 doc/ko: Translate README to Korean
  doc/ko/README.md
Labels: contributon2019, doc

#1033 doc: Update dynamic tracing section link in README.md
  README.md
  doc/ko/README.md
Labels: doc
